html(lang="en")
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")

  body

    div.container.center
        div.center.text-center
            h1= message
            
            h4
              | Tweets are ranked using a proprietary algorithm.
            
            p
              | (Twitter won't allow API access to tweet engagement stats without contacting their enterprise sales team... so... Boo. Tweets are ranked by favs + RTs * 5)

            h3= easter_egg

            blockquote.twitter-tweet
                a(href= tweet_url_1)
            script(async src="https://platform.twitter.com/widgets.js", type='text/javascript')

            blockquote.twitter-tweet
                a(href= tweet_url_2)
            script(async src="https://platform.twitter.com/widgets.js", type='text/javascript')

            blockquote.twitter-tweet
                a(href= tweet_url_3)
            script(async src="https://platform.twitter.com/widgets.js", type='text/javascript')

    div.container.center.text-center
        h1 Try someone else...
        form(
            method="GET"
            action="/handle/"
        )
            label(for="handle") Enter their twitter handle:  
            input(type="text" id="handle" name="handle")
            input(type="submit" value="Go !")
    
    div.container.footer.text-center
      p
        | © 
        a(href='http://stevehind.me') Steve
        | , 2020.
        